.home-introduction {
  position: relative;
  overflow: hidden;
}

.home-introduction::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../../../../../public/assets/simpleSyllableGame/images/backgroundMain.png")
    no-repeat center;
  background-size: cover;
  filter: blur(4px) brightness(0.6);
  z-index: 0;
}
