.menuContainer {
  background-color: #0aaf86;
  display: flex;
  flex-direction: column;

  max-width: 260px;
  height: 83vh;
}

.menuContainer img {
  margin: 60px auto;
  margin-bottom: 10px;
  width: 100px;
}

.user {
  display: grid;
  justify-content: center;
}

.username {
  display: inline-block;
  font: bold 1.5rem "Baloo Bhai 2", sans-serif;
  margin-bottom: 30px;
}

.itens {
  display: grid;
  font: bold 1.5rem "Baloo Bhai 2", sans-serif;
}

.itens li {
  padding: 20px 0px;
  position: relative;
  text-align: center;
}

.itens li:hover {
  background: #0aaa00;
}

.itens li:hover::before {
  background: yellow;
  content: "";
  display: inline-block;
  height: 100%;
  width: 6px;

  position: absolute;
  left: 0;
  top: 0;
}
