header {
  margin: auto;
  font-family: var(--font-1);
}

.button-nav {
  transition: all ease-in 0.2s;
  color: var(--color-purplish-blue);
}

.button-nav:hover {
  background-color: var(--color-purplish-blue);
  color: var(--color-yellow);
  translate: 0px 2px;
}

.profile-nav {
  transition: all ease-in 0.2s;
  color: var(--color-purplish-blue);
}

.profile-nav:hover {
  background-color: var(--color-am2);
}

header > nav > ul > li > a > span {
  /* Tava com a navegação do header torta sem isso */
  margin-top: 1px;
}
